In [1]:
#combining all the csv files into one file.

In [2]:
import pandas as pd
import glob
import os

file_path = r'E:\pyhton\NLP_Ratings_csv'
all_files = glob.glob(file_path+'/*.csv')
df_all_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_all_file, ignore_index=True)
df_merged.to_csv( "NLP_Ratings_csv_merged.csv")

In [3]:
df_merged['rating'].value_counts()

5.0    52720
4.0    19109
3.0     7081
1.0     7041
2.0     4556
Name: rating, dtype: int64

In [4]:
df_merged.shape

(90507, 2)

In [5]:
df_merged

                                                  review  rating
0      This is best thing you can get at this price f...     5.0
1      Best camera, very good battery life, eat body ...     5.0
2      3rd class front camera. 32 MP front camera n l...     1.0
3      Lets just begin with the obvious. This phone's...     1.0
4      The phone was wrapped in dust. Although it was...     1.0
...                                                  ...     ...
90502                                      GoodREAD MORE     4.0
90503                                   5 Star.READ MORE     5.0
90504                Very nyc bulb in low priceREAD MORE     4.0
90505                                      GoodREAD MORE     5.0
90506   I am very happy thanks flipkart serviceREAD MORE     5.0

[90507 rows x 2 columns]

In [6]:
df_merged['rating'].value_counts()

5.0    52720
4.0    19109
3.0     7081
1.0     7041
2.0     4556
Name: rating, dtype: int64

In [7]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90507 entries, 0 to 90506
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  90505 non-null  object
 1   rating  90507 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.4+ MB